Repository mojtabaesl/agent: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell --no-must-find-files, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*": ["cspell --no-must-find-files"],
  "*.json": ["prettier --write"],
  "*.ts": ["eslint --fix"]
}

add express package
  package-lock.json
  package.json
Due: cspell --no-must-find-files, prettier --write

add ts-node package
  package-lock.json
  package.json
Due: cspell --no-must-find-files, prettier --write

add express types pacakge
  package-lock.json
  package.json
Due: cspell --no-must-find-files, prettier --write

add spell checker for commit messages
  .husky/commit-msg
Due: cspell --no-must-find-files

add ts-lib helpers
  tsconfig.json
Due: cspell --no-must-find-files, prettier --write

add nodemon
  cspell.json
  nodemon.json
  package-lock.json
  package.json
Due: cspell --no-must-find-files, prettier --write

fix ts-node unknown file extension error
  nodemon.json
  package.json
  src/main.ts
Due: cspell --no-must-find-files, prettier --write, eslint --fix

add configs
  .gitignore
  cspell.json
  package-lock.json
  package.json
  src/configs/index.ts
  src/main.ts
  tsconfig.json
Due: cspell --no-must-find-files, prettier --write, eslint --fix

add editor config
  .editorconfig
Due: cspell --no-must-find-files

hello express
  src/app.ts
  src/main.ts
  src/router.ts
Due: cspell --no-must-find-files, eslint --fix

add grpc package
  package-lock.json
  package.json
Due: cspell --no-must-find-files, prettier --write
